.quizview {
    width: 850px;
    height: 550px;
    background-color: #ffffff;
    margin-top: 100px;
}

.quizimage img {
    width: 850px;
    height: 290px;
}

.inputanswer {
    position: fixed;
    width: 50%;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 5px;
    border-style: 1px solid black;
}


h1 {
    margin-left: 320px;
    margin-top: 15px;
}

h2 {
    margin-left: 320px;
    margin-top: 15px;
}
